html {
  font-size: 10px;
}
button, input {
  outline: none;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
