.Footer {
  width: 100%;
  padding: .7rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Footer .btn {
  font-size: 1.3rem;
  text-transform: capitalize;
  box-shadow: none;
  opacity: .7;
  transition: .2s ease;
}

.Footer .btn:hover,
.Footer .btn.active {
  border: 1px solid #212529;
  opacity: 1;
}

.Footer .btn.clear-completed {
  opacity: 1;
}

.Footer .btn.disabled {
  opacity: .4;
  cursor: no-drop;
}

.Footer .btn.disabled:hover {
  border: 1px solid transparent;
  opacity: .4;
}

.Footer .btn .badge {
  left: 3px;
  pointer-events: none;
}
