.Char {
    display: inline-block;
    padding: 16px;
    margin: 16px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: 0.2s ease;
}

.Char:hover {
    background-color: #fff;
    color: #282c34;
    box-shadow: 0 0 5px 1px rgb(255, 255, 255, 0.4);
}

.Char > p {
    margin: 0;
}